## Task 1: Calculate Area with Conditions
##### Write a Python function calculate_area that takes two parameters: length and width. It should calculate and return the area of a rectangle. However, add a condition: if the length is equal to the width, return "This is a square!" instead of the area. Then, write a program to input values for length and width from the user and call the calculate_area function to display either the area or the message.

In [1]:
def area(l,b):
    if l==b:
        return(f"The area of a square is {l*l} ")
    else:
        return(f"The area of a rectangle is {l*b}")
l=int(input("Enter the value of Lenght"))
b=int(input("Enter the value of Breadth"))
Area = area(l,b)
print(Area)

Enter the value of Lenght 2
Enter the value of Breadth 4

The area of a rectangle is 8

## Task 2: Generate Fibonacci Series
#### Problem Statement
##### Write a Python program that generates the Fibonacci sequence up to a specified number of terms, n. The Fibonacci sequence starts with 0 and 1, and each subsequent number in the sequence is the sum of the two preceding numbers (e.g., 0, 1, 1, 2, 3, 5, 8, ...). Prompt the user to enter the number of terms (n) they want in the sequence and then display the Fibonacci sequence up to that number of terms.

In [2]:
def fib(n):
    a=0
    b=1
    if n==1:
        print(0)
    else:
        print(0)
        print(1)
        for i in range(2,n):
            c=a+b
            a=b
            b=c
            print(c)
n = int(input("enter the number of fibonacci terms required"))
fibonacci=fib(n)
fibonacci

enter the number of fibonacci terms required 10

0
1
1
2
3
5
8
13
21
34

In [4]:
def fib(n):
    a=0
    b=1
    fib_series=[]
    if n==1:
        fib_series.append(0)
    else:
        fib_series.append(0)
        fib_series.append(1)
        for i in range(2,n):
            c=a+b
            a=b
            b=c
            fib_series.append(c)
    return fib_series
      
n = int(input("enter the number of fibonacci terms required"))
fibonacci=fib(n)
print(f"Fibonacci sequence up to {n} terms: {fibonacci}")

enter the number of fibonacci terms required 10

Fibonacci sequence up to 10 terms: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Task 3: MySQL Database Operations with Python ( Compulsory )
#### Problem Statement:
##### Your task is to write a Python program that accomplishes the following: First create a database , table and add these column ‘student_id’, ‘first_name’, ‘last_name’, ‘age’, ‘grade’. Connects to your MySQL database with python. Inserts a new student record into the "students" table with the following details: First Name: "Alice" Last Name: "Smith" Age: 18 Grade: 95.5 Updates the grade of the student with the first name "Alice" to 97.0. Deletes the student with the last name "Smith." Fetches and displays all student records from the "students" table.""""

In [3]:
import mysql.connector

host = "localhost"
user = "root"
password = "B@lu8099"
database = "task"

try:
    # Connecting to the MySQL database of local host
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    if connection.is_connected():
        print("Connected to the MySQL database")

        # Creating a cursor object which will execute the SQL queries
        cursor = connection.cursor()

        # Create a table if it doesn't exist
        create_table_query = """
        CREATE TABLE IF NOT EXISTS students (
            student_id INT AUTO_INCREMENT PRIMARY KEY,
            first_name VARCHAR(255),
            last_name VARCHAR(255),
            age INT,
            grade FLOAT
        );
        """
        cursor.execute(create_table_query)
        print("Table 'students' created")

        # Insert a new student record
        insert_query = """
        INSERT INTO students (first_name, last_name, age, grade)
        VALUES ('Alice', 'Smith', 18, 95.5);
        """
        cursor.execute(insert_query)
        print("Inserted a new student record")

        # Update the grade of the student with the first name "Alice"
        update_query = """
        UPDATE students
        SET grade = 97.0
        WHERE first_name = 'Alice';
        """
        cursor.execute(update_query)
        print("Updated the grade of the student named Alice")

        # Delete the student with the last name "Smith"
        delete_query = """
        DELETE FROM students
        WHERE last_name = 'Smith';
        """
        cursor.execute(delete_query)
        print("Deleted the student with the last name Smith")

        # Fetch and display all student records
        select_all_query = "SELECT * FROM students;"
        cursor.execute(select_all_query)
        results = cursor.fetchall()

        print("\nAll student records:")
        for row in results:
            print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if 'connection' in locals():
        # Close the cursor and connection in the end
        if 'cursor' in locals():
            cursor.close()
        connection.close()
        print("Connection closed")

Connected to the MySQL database
Table 'students' created
Inserted a new student record
Updated the grade of the student named Alice
Deleted the student with the last name Smith

All student records:
Connection closed

## I have recently installed mysql-connector-python in another notebook by using command 
### pip install mysql-connector-python